<center>
  <h1>Product Chart</h1>
</center> <br>


<div>
  <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>


  const list = {{{ list }}};
  console.log(list);
  let labels = [], data = [];
  list.forEach(item => {
    labels.push(item.name);
    data.push(item.value);
  });

  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: labels,
      datasets: [{
        label: '# of Votes',
        data: data,
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>